@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-areas: "nav nav nav" "noticias noticias atajo" "divisor divisor divisor" "otra otra otra" "resumen resumen resumen" "footer footer footer"; }
  @media only screen and (max-width: 500px) {
    .contenedor {
      grid-template-areas: "nav" "atajo" "noticias" "divisor" "otra" "resumen" "footer"; } }

.contenedorFix {
  display: grid;
  grid-template-areas: "nav" "contenido" "resumen" "footer"; }
  @media only screen and (max-width: 500px) {
    .contenedorFix {
      grid-template-areas: "nav" "contenido" "resumen" "footer"; } }

.contenedorPlantel {
  display: grid;
  grid-template-areas: "nav" "contenido" "resumen" "footer"; }

.contenedorEstadio {
  display: grid;
  grid-template-areas: "nav" "contenido" "resumen" "footer"; }

.contenedorAsoc {
  display: grid;
  grid-template-areas: "nav" "contenido" "resumen" "footer"; }

/*seccion Inicio*/
body {
  background-image: url(../Assets/Hinchada.jpg); }

header {
  grid-area: nav;
  margin-bottom: 5%; }
  header .Txtlogo {
    font-family: "Volkhov";
    color: rgba(69, 171, 230, 0.829); }

.principal {
  background-color: whitesmoke;
  margin: 0 20px;
  padding: 0px 30px;
  font-family: "Segoe UI";
  font-size: 1em;
  grid-column: 1 / span 3; }
  @media only screen and (max-width: 500px) {
    .principal {
      margin: 0 5%;
      grid-column: 1; } }

.noticias {
  grid-area: noticias; }

.noticiaUno {
  display: flex; }
  .noticiaUno__img, .noticiaDos__img {
    width: 50%; }
    @media only screen and (max-width: 500px) {
      .noticiaUno__img, .noticiaDos__img {
        width: 100%; } }
  .noticiaUno__texto, .noticiaDos__texto, footer .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px; }
  @media only screen and (max-width: 500px) {
    .noticiaUno {
      flex-direction: column;
      align-items: center; } }

.noticiaDos {
  display: flex;
  flex-direction: row-reverse; }
  @media only screen and (max-width: 500px) {
    .noticiaDos {
      flex-direction: column;
      align-items: center; } }

.atajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  background-image: url(../Assets/LogoLPF.png);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: bottom;
  padding: 50px 20px;
  grid-area: atajo;
  font-family: "Segoe UI";
  font-size: 1em; }
  .atajo__titulo {
    margin: 20px 0; }
  .atajo__img {
    overflow: hidden; }
  .atajo__img img {
    transition: transform 3s; }
  .atajo__img img:hover {
    transform: scale(1.2); }
  .atajo__marcador {
    font-size: 2em; }

.divisor {
  grid-area: divisor;
  background-image: url(../Assets/UmbroATU.jpg);
  background-color: whitesmoke;
  height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.otraseccion {
  grid-area: otra;
  background-color: whitesmoke;
  margin: 0 20px; }
  .otraseccion__asociate {
    background-image: url(../Assets/Asociate.jpg);
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-blend-mode: luminosity;
    font-family: "Segoe UI";
    font-size: 3em; }
    .otraseccion__asociate a {
      text-decoration: none;
      color: #af8b20;
      transition: transform 3s; }
    .otraseccion__asociate a:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 500px) {
      .otraseccion__asociate {
        margin-bottom: 5%; } }

.reseña {
  font-family: "Times New Roman";
  grid-area: resumen;
  margin-top: 5%; }

footer {
  background: #394aff;
  background: -moz-linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  background: -webkit-linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  background: linear-gradient(0deg, rgba(57, 74, 255, 0.975228) 3%, #18b7e0 33%, white 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#394aff",endColorstr="#ffffff",GradientType=1);
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: space-evenly;
  grid-area: footer;
  font-family: "Franklin Gothic Medium";
  font-size: 1em; }
  footer .imgf {
    display: flex;
    align-items: center;
    margin: 2% 0; }
  footer .redes ul {
    list-style: none; }
  footer .contacto {
    display: flex;
    align-items: center; }
  @media only screen and (max-width: 500px) {
    footer {
      flex-direction: column;
      align-items: center; } }

/*seccion de fixture*/
.principalFix {
  background-color: whitesmoke;
  margin: 20px 1%;
  padding: 30px 30px;
  grid-area: contenido;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.partido {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .partido__img {
    width: 50%; }
    @media only screen and (max-width: 500px) {
      .partido__img {
        width: 100%; } }

.partidoAnterior {
  display: flex; }
  @media only screen and (max-width: 500px) {
    .partidoAnterior iframe {
      width: 100%; } }
  .partidoAnterior__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    justify-content: center; }
  @media only screen and (max-width: 500px) {
    .partidoAnterior {
      flex-direction: column;
      margin-top: 5%; } }

.fixture {
  margin: 50px 0; }

/*seccion Plantel*/
.principalPlantel {
  background-color: whitesmoke;
  margin: 20px 1%;
  padding: 30px 30px;
  grid-area: contenido;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.carrusel {
  margin: 50px 0; }
  .carrusel .carousel-inner {
    width: 25%; }
    @media only screen and (max-width: 500px) {
      .carrusel .carousel-inner {
        width: 50%; } }
  .carrusel .carousel-caption {
    background-color: aliceblue;
    border-left: 5px solid #8f7a04;
    border-bottom: 5px solid #8f7a04; }

/*seccion del estadio*/
.principalEst {
  background-image: url(../Assets/EstadioFondo.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-color: cadetblue;
  margin: 20px 1%;
  padding: 30px 30px;
  grid-area: contenido;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.descripcion {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .descripcion__img {
      width: 400px; } }

/*seccion de asociamiento*/
.principalAsoc {
  background-color: cadetblue;
  margin: 0% 1%;
  padding: 30px 30px;
  grid-area: contenido;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .principalAsoc .asoc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
